<p>list-medical-record works!</p>
<div class="card">
    <h2>Lista de Historias Clínicas</h2>
    <p-table [value]="historiasClinicas" dataKey="id" [tableStyle]="{'min-width': '50rem'}">
      <ng-template pTemplate="header">
        <tr>
          <th style="width:15%">Nombres</th>
          <th style="width:15%">Apellidos</th>
          <th style="width:12%">Cedula</th>
          <th style="width:10%">Numero</th>
          <th style="width:12%">Enfermedades Base</th>
          <th style="width:8%">Virus</th>
          <th style="width:20%">Bacterias</th>
          <th style="width:4%">Hongos</th>
          <th style="width:4%">Parasitos</th>
          <th style="width:4%">Emociones</th>
          <th style="width:4%">Brujeria</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-historia>
        <tr>
          <td>{{ historia.nombres }}</td>
          <td>{{ historia.apellidos }}</td>
          <td>{{ historia.cedula }}</td>
          <td>{{ historia.numero }}</td>
          <td>{{ historia.enfermedadesBase }}</td>
          <td>{{ historia.virus }}</td>
          <td>{{ historia.bacterias }}</td>
          <td>{{ historia.hongos }}</td>
          <td>{{ historia.parasitos }}</td>
          <td>{{ historia.emociones }}</td>
          <td>{{ historia.brujeria }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  